In [1]:
a1 = "Hello Data Science"
a2=135

In [3]:
a1

135

In [5]:
a2

100

In [4]:
a2=100
a3=145
print(a2+a3)

245

In [6]:
print(a1+a2)

TypeError: can only concatenate str (not "int") to str

In [7]:
print(type(a2))

<class 'int'>

In [8]:
a4=10/8
a5=a4*2
a6=a5/2
print(a4,type(a4),a5,type(a5),a6,type(a6))

1.25 <class 'float'> 2.5 <class 'float'> 1.25 <class 'float'>

In [9]:
stu_score=94
a7=stu_score>90
a8=stu_score<60
a9 = a7 and a8
a10 = a7 or a8
print(a7,type(a7),a8,type(a8),a9,type(a9),a10,type(a10))

True <class 'bool'> False <class 'bool'> False <class 'bool'> True <class 'bool'>

In [10]:
b1="Hello Pyhton"
b2="I am coming"
print(b1+","+b2)

Hello Pyhton,I am coming

In [11]:
b3="Hello\nData Slice"
print(b3,type(b3))

Hello
Data Slice <class 'str'>

In [14]:
tc_b1=5
la=[1,2,3,tc_b1]
print("List is:",la)
print("List length：",len(la))
print("List tail:",la[-1])
print("List head:",la[0])
la.append("Hello")
print("After append:",la)
la.remove(2)
print("After remove:",la)

List is: [1, 2, 3, 5]
List length： 4
List tail: 5
List head: 1
After append: [1, 2, 3, 5, 'Hello']
After remove: [1, 3, 5, 'Hello']

In [3]:
tc_b1= 12
tc_b2=1.8
tc_b3= tc_b1+tc_b2
print("tc_b1",type(tc_b1))
print("tc_b2",type(tc_b2))
print(tc_b3,type(tc_b3))

tc_b1 <class 'int'>
tc_b2 <class 'float'>
13.8 <class 'float'>

In [5]:
tc_b4=tc_b1+int(tc_b2)
print(int(tc_b2))
print(tc_b4,type(tc_b4))

1
13 <class 'int'>

In [6]:
tc_b5= "22.5"
tc_b6= tc_b1+float(tc_b5)
print(tc_b6)

34.5